<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 목록</title>
    <link rel="stylesheet" href="/css/Admin/memberList.css">
</head>
<body>
<h1>회원 목록</h1>
<table>
    <thead>
    <tr>
        <th>아이디</th>
        <th>사용자 이름</th>
        <th>이메일</th>
        <th>역할</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
        <td th:text="${member.id}">1</td>
        <td th:text="${member.username}">홍길동</td>
        <td th:text="${member.email}">example@example.com</td>
        <td th:text="${member.role}">USER</td>
    </tr>
    </tbody>
</table>
<script src="/js/Admin/admin_member.js"></script>
</body>
</html>