<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
    <link rel="stylesheet" href="/css/Board/board.css">
    <link rel="shortcut-icon" type="image/x-icon" href="/images/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<header>
    <nav>
        <div class="logo" onclick="location.href='/'">StudyLink</div>
        <ul class="nav-links">
            <li><a href="https://confirmed-swamp-398.notion.site/About-page-87f370cf36a24e5dae532be6566cb953?pvs=4">About</a></li>
            <li class="dropdown" id="profileMenu">
                <a href="#">Profile</a>
                <ul class="dropdown-content" id="profileDropdown">
                    <!-- 로그인 상태에 따라 내용이 동적으로 변경됩니다. -->
                </ul>
            </li>
        </ul>
    </nav>
</header>
<div class="background"></div>
<div class="table-container">
    <table class="board-table">
        <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>writer</th>
            <th>date</th>
            <th>hits</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board: ${boardList}">
            <td th:text="${board.id}"></td>
            <td><a th:href="@{|/board/${board.id}|(page=${boardList.number + 1})}" th:text="${board.boardTitle}"></a></td>
            <td th:text="${board.boardWriter}"></td>
            <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${board.boardHits}"></td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-fixed" onclick="saveReq()">글작성</button>
</div>

<div class="pagination">
    <a class="page-link" th:href="@{/board/paging(page=1)}">First</a>
    <a class="page-link" th:href="${boardList.first} ? '#' : @{/board/paging(page=${boardList.number})}">prev</a>

    <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
        <span th:if="${page == boardList.number + 1}" th:text="${page}"></span>
        <span th:unless="${page == boardList.number + 1}">
            <a class="page-link" th:href="@{/board/paging(page=${page})}" th:text="${page}"></a>
        </span>
    </span>

    <a class="page-link" th:href="${boardList.last} ? '#' : @{/board/paging(page=${boardList.number + 2})}">next</a>
    <a class="page-link" th:href="@{/board/paging(page=${boardList.totalPages})}">Last</a>
</div>

<script>
    const saveReq = () => {
        location.href = "/board/save";
    }
</script>
</body>
<footer>
    <p>&copy; 2024 StudyLink. All rights reserved.</p>
    <ul class="social-links">
        <li><a href="https://www.facebook.com/?locale=ko_KR">Facebook</a></li>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
    </ul>
</footer>
<script src="/js/index.js"></script>
</html>