<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
    <link rel="stylesheet" href="/css/Board/board.css">
    <link rel="shortcut-icon" type="image/x-icon" href="/images/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="background"></div>
<div class="form-container">
    <form class="form" action="/Board/update" method="post" name="updateForm">
        <input type="hidden" name="id" th:value="${boardUpdate.id}">
        <label for="writer">writer:</label>
        <input type="text" id="writer" name="boardWriter" th:value="${boardUpdate.boardWriter}" readonly><br>
        <label for="pass">pass:</label>
        <input type="text" id="pass" name="boardPass"><br>
        <label for="title">title:</label>
        <input type="text" id="title" name="boardTitle" th:value="${boardUpdate.boardTitle}"><br>
        <label for="contents">contents:</label>
        <textarea id="contents" name="boardContents" cols="30" rows="10" th:text="${boardUpdate.boardContents}"></textarea><br>
        <input type="hidden" name="boardHits" th:value="${boardUpdate.boardHits}">
        <input class="btn" type="button" value="글수정" onclick="boardUpdate()">
    </form>
</div>
<script th:inline="javascript">
    const boardUpdate = () => {
        const pass = [[${boardUpdate.boardPass}]];
        const inputPass = document.getElementById("boardPass").value;
        if (pass == inputPass) {
            document.updateForm.submit();
        } else {
            alert("비밀번호가 일치하지 않습니다!");
        }
    }
</script>
</body>
<footer>
    <p>&copy; 2024 StudyLink. All rights reserved.</p>
    <ul class="social-links">
        <li><a href="https://www.facebook.com/?locale=ko_KR">Facebook</a></li>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
    </ul>
</footer>
<script src="/js/index.js"></script>
</html>