<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studylink</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut-icon" type="image/x-icon" href="/images/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

   
</head>
<body>
    <header>
        <nav>
            <div class="logo" onclick="location.reload()">Studylink</div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="#">Menu</a>
                    <ul class="dropdown-content">
                        <li><a href="#">게시판</a></li>
                        <li><a href="#">test</a></li>
                        <li><a href="#">메뉴3</a></li>
                    </ul>
                </li>
                <li><a href="/about">About</a></li>
                <li class="dropdown">
                    <a href="#">Profile</a>
                    <ul class="dropdown-content">
                        <li><a href="/login">로그인</a></li>
                        <li><a href="/register">회원가입</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h1>Join the best projects in the world</h1>
            <p>Explore, Create, and Inspire with Studylink</p>
            <!-- <button id="getStarted">Get Started</button> -->
            <button type="button" onclick="location.href='/start'">Get Started</button>
        </section>
        <!-- <section class="gallery-preview" id="galleryPreview"> -->
            <!-- Gallery items will be loaded here dynamically -->
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Studylink. All rights reserved.</p>
        <ul class="social-links">
            <li><a href="https://www.facebook.com/?locale=ko_KR">Facebook</a></li>
            <li><a href="https://www.instagram.com/">Instagram</a></li>
            <!-- <li><a href="mailto:smilegyh@gmail.com?subject=Studylink 문의 사항입니다.?body=메일 내용을 %0D%0A이렇게 씁니다!">Mail</a></li> -->
        </ul>
    </footer>

    <!-- Modal for displaying more information -->
    <!-- <div class="modal" id="modal">
        <div class="modal-content">
            <span class="close-button" id="closeButton">&times;</span>
            <h2 id="modalTitle">Art Title</h2>
            <p id="modalDescription">Art Description</p>
        </div>
    </div> -->

    <script src="/js/index.js"></script>
</body>
</html>