<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>
    <div class="background"></div>
    <div class="register-container" id="registerContainer">
        <h2>Register</h2>
        <input type="email" id="email" placeholder="Enter your email">
        <input type="text" id="name" placeholder="Enter your name">
        <input type="password" id="password" placeholder="Enter your password">
        <input type="password" id="confirmPassword" placeholder="Confirm your password">
        <!-- <input type="text" id="address" placeholder="Enter your address"> -->
        <button id="register">Submit</button>
        <p id="message"></p>
    </div>
    <script src="register.js"></script>
</body>
</html>